# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment 
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
notebooks/
.ipynb_checkpoints

# Streamlit cache
.streamlit/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/
.eggs/

# Pipenv
Pipfile.lock

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Logs
*.log